#Bir006-special{
    padding: 9.6rem 0;
    background-image: url(../assets/Bir006-special/specialbackground.png);
}

.bir006-specialcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bir006-specialcontainer h1{
    padding: 3%;
    font-family: 'Jomhuria';
    font-size: 6rem;
    color: #01432B;
}

.Bir006-Imageset{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01432B;
  }
  
  .image-item img {
    width: 100%;
    height: auto;
  }
  
  .image-item p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }
  .Bir006-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFE4BB;
    padding: 2%;
    border-radius: 25px;
    margin-top: 20px;
  }